<link rel="icon" href="{{ '/favicon.ico' | relative_url }}">
<style>
@media (prefers-color-scheme: dark) {
  body {
    background-color: #252a34;
    color: #eaeaea;
  }
  a {
    color: #00adb5;
  }
  a:visited {
    color: #00adb5;
  }
  .page__footer {
    background-color: #252a34;
  }
  .masthead {
    border-bottom-color: #393e46;
  }
  hr,
  .page__content h2,
  .page__share,
  .page__related,
  .pagination,
  .page__comments-title,
  .comment:not(:last-child),
  .taxonomy__section:not(:last-child) {
    border-color: #393e46;
  }
  .page__taxonomy-item,
  .pagination li a {
    border-color: #393e46;
  }
  .btn--inverse,
  .author__avatar img {
    border-color: #393e46 !important;
  }
  .notice, .toc {
    background-color: #393e46;
  }
  .highlight,
  div.highlighter-rouge,
  figure.highlight {
    background: #263238;
    color: #eeffff;
  }
  .highlight .c { color: #b2ccd6; }
  .highlight .err { color: #f07178; }
  .highlight .k { color: #c792ea; }
  .highlight .l { color: #f78c6c; }
  .highlight .n, .highlight .p { color: #eeffff; }
  .highlight .o { color: #89ddff; }
  .highlight .s { color: #c3e88d; }
  .highlight .na, .highlight .nf { color: #82aaff; }
  .highlight .nc, .highlight .kt, .highlight .nn { color: #ffcb6b; }
  .highlight .no, .highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi { color: #f07178; }
  .highlight .nt, .highlight .nd { color: #89ddff; }
}
</style>